<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header>
        <img class="header-img" src="pictures/coldnyummy.png">
    </header>
    <h3>This is index page</h3>
    <a href="top10">Go to TOP 10</a>
    <div class="wrapper">
        <% for(let element of iceCreamList){ %>
            <% let _id = element.ice_id %>
            <article> 
                <%= element.name %> 
                ID is: <%= _id %>
                <form action="/vote" method="POST">
                    <input type="text" name="username" placeholder="Your name">
                    <input type="text" name="email" placeholder="Your email">
                    <input type="hidden" name="ice_id" value="<%= _id %>">
                    <button>Vote!</button>
                </form>
            </article>
            
        <%}%>
    </div>
</body>
</html>