<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header>
        <img src="pictures/coldnyummy.png">
    </header>
    <h3>This is index page</h3>
    <a href="top10">Go to TOP 10</a>
    <div class="wrapper">
        <% for(let element of iceCreamList){ %>
            <article> 
                <%= element.name %> 
                <button>Vote!</button>
            </article>
        <%}%>
    </div>
</body>
</html>