body {
    margin-left: 15%;
    margin-right: 15%;
}


.wrapper{
    background-color: lightpink;
    display: flex;
    flex-wrap: wrap;
}

article{
    width: 500px;
    height: 500px;
    border: 8px dashed white;
    margin-left: 70px;
    margin-top: 20px;
    padding: 20px;
    color: hotpink;
    font-size: 42px;
    font-family: arial;
    font-weight: 700;
}

.header-img {
    width: 100%;
    height: auto;
}