body {
    margin-left: 15%;
    margin-right: 15%;
}


.wrapper{
    background-color: hotpink;
    display: flex;
}

article{
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

.header-img {
    width: 100%;
    height: auto;
}